/*
* @Author: admin
* @Date:   2018-06-28 13:50:21
* @Last Modified by:   Administrator
* @Last Modified time: 2018-07-05 18:31:48
*/
body{
	background: #e8e4e4;
}
.content {
	
	margin-bottom: 50px;
}
.content .container{
	border: 1px solid #ccc;
	background: white;
}
.content .col-md-9{
	border-right: 1px solid #ccc;
	padding: 45px 40px;
}
.content .col-md-3{
	background: white;
	border-left: none;
}
.content h2{
    font-size: 19px;
    margin-bottom: 20px;
    font-weight: bold;
}
.content p{
	margin-bottom: 10px;
	line-height: 2;
	color: #595959;
}
.content h3{
	font-size: 17px;
	color: #333;
    font-weight: bold;
}
.content .tb{
	margin-top: 26px;
}
.content .tb h3{
	margin-bottom: 16px;
}
.content .tb label{
	text-align: left;
	color: #595959;
	font-size: 14px;
}
.content .tb  .submit{
    color: #ffffff;
    font-size: 15px;
    line-height: 15px;
    padding: 10px 40px;
    background-color: #61b0ff;
    border: none;
}
.content .tb span{
	font-style: italic;
	font-size: 11px;
	color: #666;
}
.content .col-md-3{
	padding-top: 45px;
} 
.content .col-md-3 .aright{
	padding-left: 33px;
}
.content .col-md-3 .active{
	background: #f0f0f0;
}
.content .col-md-3 a.active:hover{
	background: #f0f0f0;
	color: #5b5b5b;
}
.content .col-md-3 a,.content .col-md-3 span{
	color: #5b5b5b;
	border: none;
}
.content .col-md-3 a{
	margin-bottom: 1px;
}
.section{
	background: url('../images/bgpic.jpg');
	background-position: top center;
	background-size: 100% 100%;
	/* background-attachment: fixed; */
	background-repeat: no-repeat;
}
.section .col-md-4{
	padding: 60px 0;
	transition: 1s;
}
.section .col-md-4 p{
	margin-top: 10px;
	color: white;
}
.section .col-md-4:hover{
	background: #0088c2;
} 
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) { 
	.content h2{
		font-size: 24px;
		margin-bottom: 18px;
	}
	.content p{
		margin-bottom: 20px;
	}
	.content .tb{
		margin-top: 46px;
	}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) { 
	.content h2{
		font-size: 28px;
		margin-bottom: 25px;
	}
	.content p{
		margin-bottom: 30px;
	}
	.content .tb{
		margin-top: 76px;
	}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) { 
  	.content h2{
		font-size: 32px;
		margin-bottom: 35px;
	}
	.content p{
		margin-bottom: 10px;
	}
	.content .tb h3 {
	    margin-bottom: 45px;
	}
	.content .tb {
	    margin-top: 90px;
	}
}